<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "sako_me.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, This is About Me</h1>
		<p>Welcome to this simple blog I made in Rails. It took me less than 12 hours to make this. How cool is that?</p>
		<p>Thanks and enjoy!</p>
	</div>
</div>